<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_area :street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_area :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_area :state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_area :zip_code %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
